# Archivos generados
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Directorios
outputs/
models/

# Entorno virtual
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo

# OS generados
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 